<form>
    <igx-input-group>
        <input igxInput required name="deckName" type="text" [(ngModel)]="cardName"/>
        <label igxLabel for="deckName">Nome do Deck</label>
    </igx-input-group>
    <div class="flex justify-end my-5">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" (click)="searchCard()">Procurar Carta</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="back()">Voltar</button>
    </div>    
</form>
<igx-circular-bar
    [animate]="false"
    [indeterminate]="true"
    [textVisibility]="false"
    [hidden]="!isLoading"
></igx-circular-bar>
<div style="text-align: center;">
    <igx-grid [data]="cards" height="700px" style="margin: auto" [allowFiltering]="true" [filterMode]="'excelStyleFilter'">
        <igx-column header="Carta" [width]="150" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <div>
                    <igx-avatar [src]="cell.row.data.images.small" shape="rounded" size="large"></igx-avatar>
                </div>
            </ng-template>
        </igx-column>          
        <igx-column field="name" dataType="string" [cellClasses]="{'font-bold underline' : true }" header="Nome" [width]="'25%'"></igx-column>
        <igx-column field="set.name" dataType="string" [cellClasses]="{'font-bold' : true }" header="Coleção" [width]="'40%'"></igx-column><span>images.small</span>
        <igx-column header="" [width]="250" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addCard(cell.row.data.id, cell.row.data.name, cell.row.data.set.name, cell.row.data.images.small)">Adicionar</button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="addTest(cell.row.data.id)">Outlined</button>
                </div>
            </ng-template>
        </igx-column>         
    </igx-grid>
</div>   
<ul>
    <li *ngFor="let p of decks.test">
    {{p}}
    </li>
</ul>  
<ul>
    <li *ngFor="let p of cards">
    {{p.id}} - {{p.name}} - {{p.set.name}} - {{p.images.small}}
    </li>
</ul>
<igx-toast #toast></igx-toast>
