<div class="container mx-auto">
  <h4 class="text-4xl underline">Oi Tailwind Angular 2 {{title}}</h4>
  <div class="button-sample">
    <button igxButton="flat" igxRipple>Flat</button>
  </div>
  <div class="button-sample">
      <button igxButton="contained" igxRipple>Contained</button>
  </div>
  <div class="button-sample">
      <button igxButton="outlined" igxRipple>Outlined</button>
  </div>
  <app-add-edit-deck *ngIf="decks.state == 'deckList'"></app-add-edit-deck>
  <app-card-list *ngIf="decks.state == 'addCard'"></app-card-list>
</div>