<div class="bg-zinc-200" style="height:100vh;">
  <div class="container mx-auto">
    <div class="bg-gradient-to-r from-cyan-500 to-blue-500 py-5 flex justify-end">
      <h2 class="text-4xl m-5 text-white">{{title}}</h2>
    </div>
    <app-deck-list *ngIf="isOnDeckListState()"></app-deck-list>
    <app-add-edit-deck *ngIf="isOnAddEditState()"></app-add-edit-deck>
    <app-card-list *ngIf="isOnAddCardState()"></app-card-list>
    <app-view-info-deck *ngIf="decks.isStateViewInfoDeck()"></app-view-info-deck>
  </div>
</div>